## Observations and Insights

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = pd.merge(mouse_metadata, study_results, on='Mouse ID')
# Display the data table for preview
mouse_study.head()

  Mouse ID Drug Regimen   Sex  ...  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     k403     Ramicane  Male  ...          0           45.000000                 0
1     k403     Ramicane  Male  ...          5           38.825898                 0
2     k403     Ramicane  Male  ...         10           35.014271                 1
3     k403     Ramicane  Male  ...         15           34.223992                 1
4     k403     Ramicane  Male  ...         20           32.997729                 1

[5 rows x 8 columns]

In [5]:
# Checking the number of mice.
mouse_count = len(mouse_study["Mouse ID"].unique())
mouse_count

249

In [10]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_duplicate = mouse_study[mouse_study.duplicated()]
mouse_duplicate

    Mouse ID Drug Regimen  ... Tumor Volume (mm3)  Metastatic Sites
909     g989     Propriva  ...               45.0                 0

[1 rows x 8 columns]

In [11]:
# Optional: Get all the data for the duplicate mouse ID. 
mouse_g989 = mouse_study.loc[mouse_study["Mouse ID"] == "g989"]
mouse_g989

    Mouse ID Drug Regimen  ... Tumor Volume (mm3)  Metastatic Sites
908     g989     Propriva  ...          45.000000                 0
909     g989     Propriva  ...          45.000000                 0
910     g989     Propriva  ...          48.786801                 0
911     g989     Propriva  ...          47.570392                 0
912     g989     Propriva  ...          51.745156                 0
913     g989     Propriva  ...          49.880528                 0
914     g989     Propriva  ...          51.325852                 1
915     g989     Propriva  ...          53.442020                 0
916     g989     Propriva  ...          55.326122                 1
917     g989     Propriva  ...          54.657650                 1
918     g989     Propriva  ...          56.045564                 1
919     g989     Propriva  ...          59.082294                 1
920     g989     Propriva  ...          62.570880                 2

[13 rows x 8 columns]

In [15]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
drop_duplicate_mouse = mouse_study.drop_duplicates(subset = "Mouse ID", keep = "first", inplace = False)
drop_duplicate_mouse

     Mouse ID Drug Regimen  ... Tumor Volume (mm3)  Metastatic Sites
0        k403     Ramicane  ...               45.0                 0
10       s185    Capomulin  ...               45.0                 0
20       x401    Capomulin  ...               45.0                 0
30       m601    Capomulin  ...               45.0                 0
40       g791     Ramicane  ...               45.0                 0
...       ...          ...  ...                ...               ...
1858     z314     Stelasyn  ...               45.0                 0
1860     z435     Propriva  ...               45.0                 0
1863     z581    Infubinol  ...               45.0                 0
1873     z795     Naftisol  ...               45.0                 0
1883     z969     Naftisol  ...               45.0                 0

[249 rows x 8 columns]

In [16]:
# Checking the number of mice in the clean DataFrame.
mouse_count_duplicate = len(drop_duplicate_mouse["Mouse ID"].unique())
mouse_count_duplicate

249

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen